@import "./tailwind";
@import "index.base";

@layer utilities {
  // @import "./preflight";
  @import "./_button";
  @import "./_button_group";
  @import "./_dropdown";
  @import "./_modal";
  @import "./_toggle";
}

@layer base {
  @import "_base";
  html {
    font-family: PingFang SC, -apple-system, BlinkMacSystemFont Segoe UI, Microsoft YaHei Roboto Helvetica Neue, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  }

  body {
    padding: 0;
    margin: 0;
  }
}

* {
  outline: 0;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.__react_component_tooltip {
  padding: 0.3rem 0.5rem !important;
  line-height: 1.2rem;
  font-weight: normal;
  max-width: 16rem;
  z-index: 10100 !important;
  @apply break-all;
  &.place-top, &.place-bottom, &.place-left, &.place-right {
    &:before {
      background: transparent !important;
    }
  }
}

.edit-home-wrap {
  @apply py-4 px-2 pb-5;
  .button-wrap {
    @apply w-full flex flex-row mt-5;
    .publish {
      @apply bg-primary-900 flex-1 text-white text-center p-2 ml-1 mr-2 rounded-md;
    }

    .look {
      @apply bg-primary-900 flex-1 text-white text-center p-2 mr-1 ml-2 rounded-md;
    }
  }
}
